# Docker tag structure: {perl_version}[-{httpd_version}[-{mod_perl_version}]]

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:

name: Build & Push

jobs:
  list-versions:
    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - id: set-matrix
        run: |
          echo "::set-output name=matrix::$(find */Dockerfile -exec sh -c 'basename $(dirname \{})' \; | sort | jq -nRc '{perl_version: [inputs]}')"

  build:
    needs: list-versions

    runs-on: ubuntu-latest

    strategy:
      matrix: ${{fromJson(needs.list-versions.outputs.matrix)}}

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
        with:
          platforms: arm64

      - uses: docker/setup-buildx-action@master

      - name: Extract versions
        id: versions
        run: |
          httpd_version=$(cat Dockerfile | perl -ne 'print $1 if /^FROM httpd:([0-9.]+)/')
          mod_perl_version=$(cat Dockerfile | perl -ne 'print $1 if /^ENV MOD_PERL_VERSION ([0-9.]+)/')
          echo "::set-output name=httpd_version::$httpd_version"
          echo "::set-output name=mod_perl_version::$mod_perl_version"

      # Run build on non-master/tagged commits
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: ./${{matrix.perl_version}}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha,scope=perl-${{ matrix.perl_version }}
          cache-to: type=gha,mode=max,scope=perl-${{ matrix.perl_version }}

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')
        with:
          username: motemen
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')
        with:
          context: ./${{matrix.perl_version}}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            motemen/mod_perl:${{matrix.perl_version}}
            motemen/mod_perl:${{matrix.perl_version}}-${{steps.versions.outputs.httpd_version}}
            motemen/mod_perl:${{matrix.perl_version}}-${{steps.versions.outputs.httpd_version}}-${{steps.versions.outputs.mod_perl_version}}
            ghcr.io/motemen/mod_perl:${{matrix.perl_version}}
            ghcr.io/motemen/mod_perl:${{matrix.perl_version}}-${{steps.versions.outputs.httpd_version}}
            ghcr.io/motemen/mod_perl:${{matrix.perl_version}}-${{steps.versions.outputs.httpd_version}}-${{steps.versions.outputs.mod_perl_version}}
          cache-from: type=gha,scope=perl-${{ matrix.perl_version }}
          cache-to: type=gha,mode=max,scope=perl-${{ matrix.perl_version }}
